html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.container {
  max-width: 700px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

@media (max-width: 767px) {
  .container {
    max-width: 90%;
  }
}

.form__header {
  text-align: left;
  margin: 10px;
}

@media (max-width: 767px) {
  .form__header {
    text-align: center;
  }
}

.form__block {
  width: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .form__block {
    flex-wrap: wrap;
  }
}
.form {
  max-width: 700px;
  width: 100%;
  padding: 5px 0px;
  border: 1px solid #ccc;
  display: flex;

  background-color: white;
}

@media (max-width: 767px) {
  .form {
    max-width: 90%;
    margin: 0px;
    padding: 5px;
    flex-wrap: wrap;
  }
}

.form__button {
  background-color: teal;
  color: white;
  border: #ccc;
  margin: 10px;
  padding: 10px;
  flex-basis: 70%;
}
@media (max-width: 767px) {
  .form__button {
    margin: 5px;
    flex-basis: 95%;
  }
}

.form__input {
  padding: 10px;
  margin-left: 10px;
  outline-color: teal;
  border: 1px solid #ccc;
  flex-basis: 100%;
}

@media (max-width: 767px) {
  .form__input {
    margin: 5px;
    flex-basis: 95%;
  }
}
.list__header {
  text-align: left;
  margin: 10px;
}

@media (max-width: 767px) {
  .list__header {
    text-align: center;
  }
}
.form__paragraph {
  border: 1px solid #ccc;
  max-width: 700px;
  width: 100%;
  padding: 5px;
  margin-bottom: 0px;
  background-color: white;
}

@media (max-width: 767px) {
  .form__paragraph {
    max-width: 90%;
  }
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #ccc;
  max-width: 700px;
  width: 100%;
  padding: 5px;
  margin: 2px 0px;
  margin-bottom: 0px;
  background-color: white;
}

@media (max-width: 767px) {
  .list {
    max-width: 90%;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.list__tasks {
  background-color: white;
  border: 1px solid #ccc;
  max-width: 700px;
  width: 100%;
  padding: 5px;
  min-height: 55px;
}

@media (max-width: 767px) {
  .list__tasks {
    max-width: 266px;
    width: 90%;
    padding: 0px;
  }
}

body {
  background-color: rgba(241, 239, 239, 0.909);
}

.form__input:hover {
  border: 1px solid teal;
}

.list__item {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  align-items: center;
  padding: 5px;
  border-bottom: 2px solid hsl(0, 0%, 90%);
  column-gap: 10px;
  word-break: break-all;
}
@media (max-width: 767px) {
  .list__item {
    max-width: 255px;
    width: 90%;
    padding: 5px;
    align-items: flex-start;
    word-break: break-all;
  }
}

.list__item--done {
  text-decoration: line-through;
}

.list__button {
  border: 1px solid rgb(0, 0, 0);
  background-color: teal;
  color: white;
  width: 25px;
  height: 25px;
  padding: 0;
  cursor: grab;
}

.list__button--done {
  background-color: teal;
}

.list__button--remove {
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
}

.list__unordered {
  margin: auto;
  padding: 10px;
}

@media (max-width: 767px) {
  .list__unordered {
    padding: 10px;
    margin: 5px;
    width: 100%;
  }
}

.list__item--hide {
  display: none;
}

.form__newButtons {
  display: flex;
  background-color: white;
  color: teal;
  padding: 10px;
  outline: none;
  border: none;
  margin: 5px;
}

.form__hiddenButtons {
  display: flex;
  justify-content: end;
}

.form__newButtons:disabled {
  
  color: black;
}

.button__transition {
  transition: 1s;
}

.button__transition:hover {
  color: hsl(180, 100%, 30%);
  transform: scale(1.1);
}

.test {
  display: flex;
  width: 40%;
  margin-right: 0px;
  justify-content: flex-end;
}

.test2 {
  
    display: flex;
    width: 100%;
    margin-right: 0px;
    justify-content: flex-start;
  
}